<%-include('./cabecalho.ejs')%>
  <!-- bloco principal -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Emitir Relatório</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/principaladm">Principal</a></li>
          <li class="breadcrumb-item active">Emitir Relatório</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="card" style="display:flex; justify-content: center; align-items: center;" >
            <div class="card-body" >
                <h5 class="card-title">Clique no botão abaixo para emitir um relatório das Avaliações</h5>
                <div style="display:flex; justify-content: center; align-items: center;" >
                <form method="post">
                <button type="submit" class="btn btn-outline-info btn-lg" >Emitir Relatório</button>
            </form>
            </div>
            </div>
        </div>

        
      </div>
    </section>

  </main><!-- End #main -->

 
  <%-include('./rodape.ejs')%>